 /*header---------------------------------------------------------------------------------------------------------------------------------------------*/
.header{
	width: 100%;
	min-width: 1170px;
	height: 240px;
	box-sizing: border-box;
	background:url("../assets/img/trader_bg_002.jpg") top no-repeat;
	background-size: 100%;
}
/*banner-title*/
.banner-des{
	width: 100%;
	height: 590px;
}
.banner-left,.banner-right{
	display: inline-block;
	width: 50%;
	height: 100%;
}
.banner-left{
	padding-top: calc((590px - 106px)/2);
}
.banner-right{
	padding-top: calc((590px - 330px)/2);
	text-align: right;
}
.banner-title{
	font-weight: bold;
	color: #fff;
}
.banner-intro{
	color: rgba(255,255,255,.7);
	font-size: 16px;
}

.about{
	width: 100%;
	position: relative;
}
.about table{
	width: 100%;
	min-height: 700px;
	background: #fff;
	margin-top: -100px;
	z-index: 100;
}
.row-1{
	height:60px;
	border-width: 0 0 1px 0;
	border-color: #ddd;
	border-style: solid;
}
 .row-1 td:first-child{
	border-width: 0 1px 1px 0;
	border-color: #ddd;
	border-style: solid;
 }
.row-2 td:first-child{
	width: 250px;
	border-width: 0 1px 0 0;
	border-color: #ddd;
	border-style: solid;
}
.tab li{
	margin: 30px 0;
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 210px;
}
.tab li .chosen{
	width: 2px;
	background: black;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	height: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.tab li.active{
	 font-weight: bold;
}
.tab li.active .chosen, .tab li:hover .chosen{
	 height: 100%;
}
.tab-content{
	margin: 30px 50px;
	display: none;
}
.tab-content.show{
	display: block;
}
.line{
	width: 100%;
	height: 1px;
	margin: 0 auto;
	background: #E7EAF2;
}
.code-img{
	width: 180px;
	height: 180px;
}
.code-img img{
	width: 100%;
}
.textarea{
	padding: 20px;
	border:1px solid #E7EAF2;
	width: 100%;
	height: 160px;
}
.replay{
	display: inline-block;
	width: 180px;
	height: 60px;
	margin-right: 20px;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	font-weight: normal;
	position: relative;
	margin-bottom: 0 !important;
}
.replay.checked,.replay:hover{
	background: #E7EAF2;
	color: #394852;
}
.replay.checked::-ms-ticks-after{
	content: '';
	width: 20px;
	height: 20px;
	background: url("../assets/img/icons/contact_selected.svg") 0 0 no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
}
.replay.checked::after{
	content: '';
	width: 20px;
	height: 20px;
	background: url("../assets/img/icons/contact_selected.svg") 0 0 no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
}
.submit{
	width: 140px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #fff;
}
.faq-title{
	padding:0 30px !important;
	height: 44px;
	line-height: 44px;
}
.faq-title a{
	display: block;
	text-decoration: none !important;
}
.faq-title a.active{
	color: #1F2532;
}
.faq-title a:hover{
	color: inherit;
	text-decoration: none !important;
}
.faq-title a span{
	margin-top: 15px;
}
.faq .panel-heading{
	background: transparent !important;
}