.header{
	width: 100%;
	min-width: 1170px;
	height: 680px;
	box-sizing: border-box;
	background:url("../assets/img/floor_banner01.jpg")  center no-repeat;
	background-size: 100%;
}
/*navbar*/
.index-logo{
	height: 40px;
	width: 157px;
	margin-top: 10px;
	display: inline-block;
}

.head-introduce .botton{
	width: 180px;
	height: 48px;
	line-height: 48px;
	background: #fff;
	display: block;
	margin: 70px auto 0;
	text-align: center;
	color:#242b3a;
}
.head-introduce .botton:hover{
	background: #252f40;
	color: #fff;
}
.module01-head,.module01-body,.module01-head img{
	width: 500px;
	height: 300px;
}
.module01-body{
	padding:40px 70px;
	text-align: center;
	background: #fff;
}
.site{
	width: 50%;
	height: 320px;
	display: inline-block;
	text-align: center;
	color:#fff;
}
.site:hover{
	color:#fff;
}
.site:first-child{
	background: url(../assets/img/floor_city_london.jpg) no-repeat;
	background-size: 100% 100%;
}
.site:last-child{
	background: url(../assets/img/floor_city_chengdu.png) no-repeat;
	background-size: 100% 100%;
}
.site-btn{
	width: 220px;
	height: 80px;
	line-height: 80px;
	margin: 90px auto 20px;
	background: #e0e0e0;
	font-size: 32px;
	color: #687788;
}
.site-btn.open{
	width: 220px;
	height: 80px;
	line-height: 80px;
	margin: 90px auto 20px;
	background: #fff;
	font-size: 32px;
	color: #1F2532;
}
.live-photos{
	width: 25%;
	/*height: 210px;*/
	float: left;

}
.prepare{
	width: 100%;
	height: 100%;
	background-color: rgba(31,37,50, 0.7);
	float: left;
}