//color
$gray1: #111;
$gray2: #616567;
$gray3: #a5a7a9;
$gray4: #d2d3d4;
$gray5: #e5e6ea;

$primary: #cdb083;
$info: #3c54e8;
$warning: #f8ac59;
$danger: #ed5565;
$success: #1ab394;

$fill-success: #d7e9c5;
$fill-info: #d9edf7;
$fill-warning: #fcf8e3;
$fill-danger: #f2dede;

$border-success: #c7dcb5;
$border-info: #bce8f1;
$border-warning: #faebcc;
$border-danger: #ebccd1;

//header
$headerheight: 70px;

//chicun
$contentwidth: 1140px;

//width
$boxwidth: 1140px;

//font
$font: #88909f;

//heading
.heading1 {
	font-size: 24px;
}

.heading2 {
	font-size: 18px;
}

.heading3 {
	font-size: 16px;
}

.heading4 {
	font-size: 14px;
}

.heading5 {
	font-size: 12px;
}

.heading6 {
	font-size: 10px;
}

//buttons
.btn-default {
	border: 1px solid #e4e4e5;
	color: #464b4f;
	width: 100px;
	height: 32px;
	box-sizing: border-box;
}

.btn-success {
	border: none;
	background: $success;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
}

.btn-primary {
	border: none;
	background: $primary;
	color: #fff;
}

.btn-info {
	border: none;
	background: $info;
	color: #fff;
}

.btn-warning {
	border: none;
	background: $warning;
	color: #fff;
}

.btn-danger {
	border: none;
	background: $danger;
	color: #fff;
}

.btn-disabled {
	border: none;
	background: #f1f5f6 !important;
	color: #ccd5dc !important;
}

.btn-lg {
	width: 100px;
	height: 44px;
}

.btn-no {
	width: 90px;
	height: 36px;
}

.btn-md {
	width: 80px;
	height: 32px;
}

.btn-xs {
	width: 60px;
	height: 24px;
}

.btn-default-out {
	width: 100px;
    height: 32px;
    font-size: 12px;    
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    color: $gray2;
    background: transparent;
    border: 1px solid $gray3;
    transition: all .2s;
    &:hover{
        color: #fff;
        background: $success;    
    }
}

.btn-success-out {
	color: $success;
	border-color: $success;
}

.btn-primary-out {
	color: $primary;
	border-color: $primary;
}

.btn-info-out {
	color: $info;
	border-color: $info;
}

.btn-warning-out {
	color: $warning;
	border-color: $warning;
}

.btn-danger-out {
	color: $danger;
	border-color: $danger;
}

.btn-disabled-out {
	color: $gray4;
	border-color: $gray4;
}

//alert
.alert-success {
	position: fixed;
	width: 426px;
	height: 80px;
	left: 50%;
	top: 150px;
	box-sizing: border-box;
	margin-left: -213px;
	border-radius: 5px;
	padding: 25px 120px;
	font-size: 21px;
	background: $fill-success;
	color: $success;
	border: 2px solid $border-success;
}

.alert-primary {
	position: fixed;
	width: 426px;
	height: 80px;
	left: 50%;
	top: 150px;
	box-sizing: border-box;
	margin-left: -213px;
	border-radius: 5px;
	padding: 25px 120px;
	font-size: 21px;
	background: $fill-info;
	color: $info;
	border: 2px solid $border-info;
}

.alert-warning {
	position: fixed;
	width: 426px;
	height: 80px;
	left: 50%;
	top: 150px;
	box-sizing: border-box;
	margin-left: -213px;
	border-radius: 5px;
	padding: 25px 120px;
	font-size: 21px;
	background: $fill-warning;
	color: $warning;
	border: 2px solid $border-warning;
}

.alert-danger {
	position: fixed;
	width: 426px;
	height: 80px;
	left: 50%;
	top: 150px;
	box-sizing: border-box;
	margin-left: -213px;
	border-radius: 5px;
	padding: 25px 120px;
	font-size: 21px;
	background: $fill-danger;
	color: $danger;
	border: 2px solid $border-danger;
}

$pwidth: 8px;
$pheight: 24px;

//triangle
@mixin triangle() {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-style: solid;
	border-width: $pheight/2 $pwidth/2;
	top: 0;
}

//平行四边形的样式
.para {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    height: $pheight;
    line-height: $pheight;
    margin-left: $pwidth;
    color: #fff;
    background-color: $success;
    &:after {
        @include triangle();
        right: -$pwidth;
        border-color: $success transparent transparent $success;
    }
 
    &:before {
        @include triangle();
        left: -$pwidth;
		border-color: transparent $success $success transparent;
    }
}

//badges
.badge{
	padding: 5px 8px;
	border-radius: 5px;
	color: $gray1;
	background: #ccd5dc;
	display: inline-block;
}

.badge-success{
	padding: 5px 15px;
	border-radius: 5px;
	color: #fff;
	background: $success;
	display: inline-block;
}

.badge-primary{
	padding: 5px 8px;
	border-radius: 5px;
	color: #fff;
	background: $primary;
	display: inline-block;
}

.badge-warning{
	padding: 10px 15px;
	border-radius: 5px;
	color: #fff;
	background: $warning;
	display: inline-block;
}

.badge-danger{
	padding: 5px 8px;
	border-radius: 5px;
	color: #fff;
	background: $danger;
	display: inline-block;
}

.badge-info{
	padding: 5px 8px;
	border-radius: 5px;
	color: #fff;
	background: $info;
	display: inline-block;
}

//form
.checkbox{
	appearance: none;
	width: 22px;
	height: 22px;
	border: 1px solid $gray3;
	border-radius: 3px;
	background: #fff;
	outline: none;
	margin: 0;
	cursor: pointer;
	box-sizing: border-box;
	&:checked{
		background-image: url(../assets/images/checkbox.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 110% 110%;
		border-color: $primary;
		color: $primary;
	}
}

.radio{
	appearance: none;
	width: 22px;
	height: 22px;
	border: 1px solid $gray3;
	border-radius: 50%;
	background: #fff;
	outline: none;
	margin: 0;
	cursor: pointer;
	&:checked{
		background-image: url(../assets/svg/checkbox.svg);
		background-position: center center;
		background-repeat: no-repeat;
		background-color: $primary;
		background-size: 100%;
		border-color: $primary;
		color: #fff;
	}
}

//tooltips
.tooltips-top{
	position: absolute;
	background-color: $gray1;
	font-size: 14px;
	color: #fff;
	text-align: center;
	width: 426px;
	height: 60px;
	margin-left: -213px;
	left: 50%;
	top: -15px;
	padding: 15px 0;
	border-radius: 10px;
	.tooltips-top-arrow{
		display: block;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid $gray1;
		width: 0;
		height: 0;
		position: absolute;
		left: 50%;
		bottom: -15px;
		margin-left: -12.5px;
	}
}

.tooltips-bottom{
	position: absolute;
	background-color: $gray1;
	font-size: 14px;
	color: #fff;
	text-align: center;
	width: 426px;
	height: 60px;
	margin-left: -213px;
	left: 50%;
	top: -15px;
	padding: 15px 0;
	border-radius: 10px;
	.tooltips-bottom-arrow{
		display: block;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid $gray1;
		width: 0;
		height: 0;
		position: absolute;
		left: 50%;
		top: -15px;
		margin-left: -12.5px;
	}
}